<nav class="navbar navbar-light bg-light mb-4">
  <div class="container">
    <a href="/" class="navbar-brand">Контакти</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/create" class="btn btn-primary">Додати контакт</a>
      </li>
    </ul>
  </div>
</nav>